.yi-footer {
  position: fixed !important;
  bottom: 1%;
  left: 0;
  font-size: 0.88rem;
  color: var(--yi-muted);
  text-align: center;
  width: 100vw;
}

@media screen and (max-width:768px){
.yi-footer {
  position: sticky !important;
}
}
.authorVisit{
  color: var(--yi-author);
}

@media screen and (max-width:768px){
 .yi-footer { 
  text-align: center;
  width: 50vw;
  align-self: center;
}
}